h1{
    color: white;
    opacity: none;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    border: 10px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 10px 10px; 
    column-gap: 10px;
    row-gap: 10px;
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/266/448/non_2x/retro-futuristic-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
}

.Item1{
   background-color: darkgreen;
   border: 1px solid black;
   padding: 20px;
   font-size: 20px;
   opacity: none;
   text-align: center;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
   box-shadow: 10px 10px;
   float: left;
}

.Item2{
   background-color: darkorange;
   border: 1px solid black;
   padding: 20px;
   font-size: 20px;
   text-align: center;
   opacity: none;
   box-shadow: 10px 10px;
   float: right;
   grid-column-start: 3;
   grid-column-end: 5;
}

.Item3{
    background-color: darkmagenta;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    opacity: none;
    box-shadow: 10px 10px;
    float: right;
    clear: right;
    grid-column-start: 3;
    grid-column-end: 5;
 }

.Item4{
    background-color: darkred;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px;
    opacity: none;
    grid-column-start: 1;
    grid-column-end: 5;
 }