h1{
    color: white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: gray;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px; 
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/266/448/non_2x/retro-futuristic-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.Item1{
   background-color: yellowgreen;
   border: 1px solid black;
   padding: 20px;
   font-size: 20px;
   opacity: 1.0;
   text-align: center;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 2;
   box-shadow: 10px 10px;
}

.Item2{
   background-color: orange;
   border: 1px solid black;
   padding: 20px;
   font-size: 20px;
   text-align: center;
   opacity: 1.0;
   box-shadow: 10px 10px;
}

.Item3{
    background-color: purple;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    opacity: 1.0;
    box-shadow: 10px 10px;
 }

.Item4{
    background-color: blue;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px;
    opacity: 1,0;
 }