h1{
    color: white;
}

.grid{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 1em
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

body::before{
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/266/448/non_2x/retro-futuristic-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5; 
}
.Item1{
   background-color: green;
   padding: 20px;
   font-size: 30px;
   text-align: left;
   box-shadow: 10px 10px;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row: span 2;
   opacity: 0.8;
}

.Item2{
   background-color: orange;
   padding: 20px;
   font-size: 22px;
   text-align: left;
   box-shadow: 10px 10px;
   grid-column-start: 2;
   grid-column-end: 4;
   opacity: 0.6;
}

.Item3{
    background-color: violet;
    padding: 20px;
    font-size: 22px;
    text-align: left;
    box-shadow: 10px 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    opacity: 0.7;
 }

.Item4{
    background-color: red;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 10px 10px;
    grid-column-start: 1;
    grid-column-end: 5;
    opacity: 0.7;
 }

