h1{
    color: white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid{
    background-color: gray;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px; 
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/266/448/non_2x/retro-futuristic-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.Item1{
   background-color: gray;
   border: 1px solid black;
   padding: 20px;
   font-size: 20px;
   text-align: center;
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 3;
}

.Item2{
   background-color: orange;
   border: 1px solid black;
   padding: 20px;
   font-size: 20px;
   text-align: center;
}


.Item3{
    background-color: purple;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
 }

 
.Item4{
    background-color: blue;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
 }

